* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 10px 20px 6px;
}
.clock-container span {
  font-size: 48px;
  margin: 0 10px;
}
